AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
ALLOWED_EMAILS=admin@gmail.com,pengguna.lain@gmail.com
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=""
GOOGLE_DRIVE_FILE_ID=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
CRON_SECRET=
